body {
  background-color: #f4f4f4; }

.container {
  border-bottom: 1px solid darkgrey;
  font-family: sans-serif; }
  .container__section {
    display: flex;
    border-top: 1px solid darkgrey;
    padding: 15px 5px; }
    .container__section .image img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin-right: 10px; }
    .container__section .text h1 {
      margin: 0;
      font-size: 18px; }
      .container__section .text h1 .pro {
        background-color: lightgrey;
        font-size: 10px;
        padding: 3px;
        border-radius: 4px;
        color: white; }
    .container__section .text p {
      margin: 5px 0;
      font-size: 14px; }
      .container__section .text p .twitter {
        color: #67a4c9;
        font-weight: bold;
        text-decoration: none; }
    .container__section .text .time {
      margin-top: 15px;
      color: darkgray; }
